<div class="d-flex justify-content-center">
  <div class="col-4">
    <%= simple_form_for [ @restaurant,@review ] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a%>
      <%= f.label :rating %>
      <%= f.input :content %>
      <%= f.label :content %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
